body {
    background-image: url("assets/367.jpg");
    background-color: #cccccc;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: rgba(192,192,192, 0.7);
}

.container{
    text-align: center;
    margin: 10%;
    /* margin-right: 20%; */
    text-align: center;


}
